<div class="boxAuthentication">
  <form class="form-signin">
    
    <div class="row">
      <div class="col-2"  >
      </div>
      <div class="col-2"  >
        <img src="favicon.ico" height="60" width="60" class="mx-auto d-block ">
      </div>
      <div  class="col-4 ">
        <div  class="mx-auto d-block "  style="font-size: 40px;color: #41464b;
        flex-wrap: nowrap;display: flex!important; font-weight: bolder;">
          Pokédex
        </div>
      </div>
      <div class="col-2"  >
      </div>
    </div>
    <h1 class="h3 mt-2 mb-0 font-weight-bold" style="text-align: center">Login</h1>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col">
            <div class="form-row">
              <div class="form-label-group col">
                <label for="txtEmail">Email</label>
                <input type="text" class="form-control" id="txtEmail">
              </div>
            </div>
            <div class="form-row ">
              <div class="form-label-group col">
                <label for="txtPassword">Password</label>
                <input type="password" class="form-control" id="txtPassword">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col mt-3 d-grid gap-2">
            <button [routerLink]="['/Private/Pokedex/List']" class="btn btn-danger col" > Sign in</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a [routerLink]="['RecoveryPasswordVerifyEmail']" class="txtStart">Forgot your password?</a>
      </div>
      <div class="col-md-6">
        <a [routerLink]="['RegisterIndividual']" class="txtEnd">Create account</a>
      </div>
    </div>

  </form>
</div>
