<div class="boxAuthentication">
  <form class="form-signin">
    <img src="https://assets.pokemon.com/static2/_ui/img/global/psyduck.png" height="100" width="100" class="mx-auto d-block ">
    <h1 class="h3 mt-1 mb-0 font-weight-bold" style="text-align: center">404</h1>
    <div class="row">
      <div class="col">
        <p>That’s an error.</p>
        <p class="mb-0">The requested URL /test was not found on this server.</p>
        <p>That’s all we know.</p>
      </div>
    </div>
  </form>
</div>
