<div class="row">
  <div class="col-md-12">
    <form>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="txtConfirmedPassword">Current password</label>
          <div class="input-group">
            <input type="password" class="form-control" id="txtConfirmedPassword"  aria-label="Confirmed your new password" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text material-icons icon-image-preview view">visibility_off</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="txtPassword">Password</label>
          <input type="password" class="form-control" id="txtPassword" placeholder="Enter your new password">
        </div>
        <div class="form-group col-md-6">
          <label for="txtConfirmedPassword">Confirmed password</label>
          <div class="input-group mb-6">
            <input type="password" class="form-control" id="txtConfirmedPassword" placeholder="Confirmed your new password" aria-label="Confirmed your new password" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <span class="input-group-text material-icons icon-image-preview view">visibility_off</span>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row actions">
        <div class="form-group col-md-12 text-center">
          <button type="submit" class="btn btn-primary btnNormal" (click)="Save()">Save</button>
        </div>
      </div>


    </form>
  </div>
</div>
